In [ ]:
import pandas as pd
titanic = pd.read_csv("/content/drive/MyDrive/Copy of Titanic-Dataset.csv")
print("DataFrame Info:")
print(titanic.info())
fare = titanic[['Fare']]
print("\nHead of 'fare' DataFrame:")
print(fare.head())
class_age = titanic[['Pclass', 'Age']]
print("\nHead of 'class_age' DataFrame:")
print(class_age.head())
survived_gender = titanic[['Survived', 'Sex']]
print("\nHead of 'survived_gender' DataFrame:")
print(survived_gender.head())

FileNotFoundError: [Errno 2] No such file or directory: '/content/drive/MyDrive/Copy of Titanic-Dataset.csv'

In [ ]:
import pandas as pd
titanic = pd.read_csv("/content/drive/MyDrive/Copy of Titanic-Dataset.csv")
fare_gt_100 = titanic[titanic['Fare'] > 100]
print("\nPassengers with fare greater than 100:")
print(fare_gt_100)
first_class = titanic[titanic['Pclass'] == 1]
print("\nPassengers in first class (Pclass = 1):")
print(first_class)
female_under_18 = titanic[(titanic['Age'] < 18) & (titanic['Sex'] == "female")]
print("\nFemale passengers under 18:")
print(female_under_18)
embarked_c_or_s = titanic[titanic['Embarked'].isin(["C", "S"])]
print("\nPassengers who embarked at port 'C' or 'S':")
print(embarked_c_or_s)
first_second_class = titanic[titanic['Pclass'].isin([1, 2])]
print("\nPassengers in first or second class (Pclass in [1, 2]):")
print(first_second_class)

In [ ]:
import pandas as pd
titanic = pd.read_csv("/content/drive/MyDrive/Copy of Titanic-Dataset.csv")
titanic['Fare_Per_Year'] = titanic['Fare'] / titanic['Age']
titanic['Fare_Per_Year'] = titanic['Fare_Per_Year'].replace([float('inf'), -float('inf')], None)
high_fare_age = titanic[titanic['Fare_Per_Year'] > 5]
high_fare_age_srt = high_fare_age.sort_values(by='Fare_Per_Year', ascending=False)

result = high_fare_age_srt[['Name', 'Fare_Per_Year']]
print("Passengers with the highest fare paid relative to their age:")
print(result)

Passengers with the highest fare paid relative to their age:
                                       Name  Fare_Per_Year
305          Allison, Master. Hudson Trevor     164.728261
297            Allison, Miss. Helen Loraine      75.775000
386         Goodwin, Master. Sidney Leonard      46.900000
164            Panula, Master. Eino Viljami      39.687500
183               Becker, Master. Richard F      39.000000
..                                      ...            ...
318                Wick, Miss. Mary Natalie       5.318281
348  Coutts, Master. William Loch "William"       5.300000
205              Strom, Miss. Telma Matilda       5.231250
813      Andersson, Miss. Ebba Iris Alfrida       5.212500
480          Goodwin, Master. Harold Victor       5.211111

[68 rows x 2 columns]

In [ ]:
import pandas as pd
titanic = pd.read_csv("/content/drive/MyDrive/Copy of Titanic-Dataset.csv")
titanic['Fare_Per_Class'] = titanic['Fare'] / titanic['Pclass']
adult_males = titanic[(titanic['Sex'] == "male") & (titanic['Age'] >= 18)]
adult_males_srt = adult_males.sort_values(by='Fare_Per_Class', ascending=False)
result = adult_males_srt[['Name', 'Age', 'Fare_Per_Class']]
print("Adult male passengers sorted by highest fare per class:")
print(result)

Adult male passengers sorted by highest fare per class:
                                   Name   Age  Fare_Per_Class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
27       Fortune, Mr. Charles Alexander  19.0        263.0000
438                   Fortune, Mr. Mark  64.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208
..                                  ...   ...             ...
271        Tornquist, Mr. William Henry  25.0          0.0000
179                 Leonard, Mr. Lionel  36.0          0.0000
302     Johnson, Mr. William Cahoone Jr  19.0          0.0000
822     Reuchlin, Jonkheer. John George  38.0          0.0000
806              Andrews, Mr. Thomas Jr  39.0          0.0000

[395 rows x 3 columns]

In [ ]:
import pandas as pd
titanic = pd.read_csv("/content/drive/MyDrive/Copy of Titanic-Dataset.csv")
total_fare = titanic['Fare'].sum()
total_fare_first_class = titanic[titanic['Pclass'] == 1]['Fare'].sum()

total_fare_second_class = titanic[titanic['Pclass'] == 2]['Fare'].sum()

total_fare_third_class = titanic[titanic['Pclass'] == 3]['Fare'].sum()

fare_totals_by_class = [total_fare_first_class, total_fare_second_class, total_fare_third_class]

fare_proportions = [fare / total_fare for fare in fare_totals_by_class]

fare_percentages = [round(proportion * 100, 2) for proportion in fare_proportions]

print("Total Fare Revenue by Class:")
print(f"First Class: {fare_percentages[0]}%")
print(f"Second Class: {fare_percentages[1]}%")
print(f"Third Class: {fare_percentages[2]}%")

Total Fare Revenue by Class:
First Class: 63.35%
Second Class: 13.25%
Third Class: 23.4%

In [ ]:
import pandas as pd
titanic = pd.read_csv("/content/drive/MyDrive/Copy of Titanic-Dataset.csv")
def categorize_age(age):
    if age < 18:
        return "child"
    elif age < 65:
        return "adult"
    else:
        return "senior"

titanic['Age_Group'] = titanic['Age'].apply(categorize_age)

total_passengers = len(titanic)

age_group_counts = titanic['Age_Group'].value_counts()

age_group_proportions = age_group_counts / total_passengers

age_group_percentages = (age_group_proportions * 100).round(2)

print("Percentage of passengers in each age group:")
print(age_group_percentages)

Percentage of passengers in each age group:
Age_Group
adult     66.22
senior    21.10
child     12.68
Name: count, dtype: float64